@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  background-color: black;
  color: white;
  font-family: Roboto, sans-serif;
}
.imgFilm {
  height: 200px;
  width: 100%;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  object-fit: contain;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.imgFilm::-webkit-scrollbar {
  display: none;
}
.films {
  padding: 15px;
  box-sizing: border-box;
}
.films h2 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}
h1 {
  color: #e90418;
  font-size: 5vmin;
  font-weight: 700;
  margin: 15px;
}
